

<style>

html,
body {
  font-family: 'Source Sans Pro';
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}



.intro p {
  color: green;
}

#

nav ul {

  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #e0ebe8;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
  font-family: 'Source Sans Pro';
}

nav ul li a {
  color: #008080;
  text-decoration: none;
}

nav ul li a:hover {
  color: green;
}

.section{
  top: 0;
  min-height: 55vh;
  font-family: 'Source Sans Pro';

}

#intro-section{
  text-align: center;
  background: #C8F7C5;

}

#funct-section{
  text-align:center;
  margin: 30px;
}

#dl-section{
  text-align:center;
  background: #C8F7C5;
  margin: 30px;

}


@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}


.header {
  padding: 160px 0 110px;
}

.contact-details:hover {
  background: #E4F1FE;
  color: green;
}

footer {
  padding: 20px;
  background: #22313F;
  color: white;
  line-height: 40px;
}

footer a {
  color: white;
}

.row{
  display: flex;
}

.column {
  flex:50%;
}

#intro-info{
  margin:40px;
}

.square {
  height: 550px;
  width: 50px;
  background-color: #555;
}

@media only screen and (max-width: 367px) {

  .contact-details {
    line-height: normal;
  }

}

</style>