

<style>

html,
body {
  font-family: 'Source Sans Pro';
  text-align: center;
  margin: 0 100px 0 100px;
}

* {
  margin: 0;
  padding: 0;
}


p{
  margin: 40px;
}

button {
  width: autopx;
  height: 30px;
  margin: 40px;
}

.intro p {
  color: green;
}


nav ul {

  text-align: right;
  position: fixed;
  width: 100%;
  background-color: white;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
  font-family: 'Source Sans Pro';
}

nav ul li a {
  color: #008080;
  text-decoration: none;
}

nav ul li a:hover {
  color: green;
}

.sectiona{
  top: 0;
  min-height: 55vh;
  font-family: 'Source Sans Pro';
  background-color: white;
}

.sectionb{
  top: 0;
  min-height: 55vh;
  font-family: 'Source Sans Pro';
  background-color:#4a8ef9;
}

#intro-section{
  text-align: center;
  background: #4a8ef9;
  font-color: white;
  font-family: 'Source Sans Pro';

}

#intro-info {
  font-color: white;
  min-height: 800px;
  font-size: 20px;
  top-margin:100px;
  font-family: 'Source Sans Pro';

}


#funct-section{
  text-align:center;
  background: #4a8ef9;
  min-height: 600px;
  font-size:20px;
  top-margin:180px;
  font-family: 'Source Sans Pro';
}

.dl-section{
  margin: 50px;
  background-color: white;
  min-height: 500px;
  text-align: center;
  font-size:20px;
  font-family: 'Source Sans Pro';

}


@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}


.header {
  padding: 160px 0 110px;
}

.contact-details:hover {
  background: #E4F1FE;
  color: green;
}

footer {
  padding: 20px;
  background: #4a8ef9;
  color: white;
  line-height: 40px;
  font-family: 'Source Sans Pro';
}

footer a {
  color: white;
}

.row{
  display: flex;
}

.column {
  flex:50%;
}

#intro-info{
  margin:40px;
}
#dl-button{
  margin:50px;
}



textarea{
  width: 380px;
  height: 200px;
  margin-top:130px;
  padding:20px;
  font-size: 20px;
}

.square {
  position: absolute;
  margin: -15px 300px;
  height: 140px;
  width: 300px;
  background-color: #eee;
  z-index:99;
}

.inner{
  padding: 40px;
}


.talk-bubble {
    position: absolute;
  width: 200px;
  height: auto;
  background-color: #eee;
}

.rcorners {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}

</style>