<style>

html,
body {
  font-family: 'Source Sans Pro';
  text-align: center;
  margin: 0 100px 0 100px;
}

* {
  margin: 0;
  padding: 0;
}


p{
  margin-top: 40px;
  line-height: 150%;
}

button {
  width: autopx;
  height: 30px;
  margin: 40px;
}


nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #4a8ef9;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
  font-family: 'Source Sans Pro';
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
}

.sectiona{
  top: 0;
  min-height: 55vh;
  font-family: 'Source Sans Pro';
  background-color: white;
  margin:60px;
}

.sectionb{
  top: 0;
  min-height: 55vh;
  font-family: 'Source Sans Pro';
  background-color:white;
  margin:60px;
}

#intro-section{
  background: white;
  font-family: 'Source Sans Pro';
}

#intro-info {
  position: absolute;
  min-height: 800px;
  font-size: 20px;
  top-margin:100px;
  left: 900px;
  font-family: 'Source Sans Pro';


}

#end-info {
  min-height: 800px;
  font-size: 20px;
  top-margin:100px;
  font-family: 'Source Sans Pro';
  text-align: left;
}

#funct-section{
 text-align: center;
  background: white;
  min-height: 600px;
  font-size:20px;
  top-margin:180px;
  font-family: 'Source Sans Pro';

}

#dl-section{
  margin: 50px;
  background-color: white;
  min-height: 400px;
  text-align: center;
  font-size:20px;
  font-family: 'Source Sans Pro';

}


.header {
  padding: 160px 0 110px;
}

.contact-details:hover {
  background: #E4F1FE;
  color: green;
}

footer {
  padding: 20px;
  background: #4a8ef9;
  color: white;
  line-height: 40px;
  font-family: 'Source Sans Pro';
}

footer a {
  color: white;
}

.row{
  display: flex;
}

.column {
  flex:50%;
}

#intro-info{
  margin:40px;
}



textarea{
  width: 380px;
  height: 200px;
  margin-top:130px;
  padding:20px;
  font-size: 20px;
}

.square {
  position: absolute;
  margin: -15px 300px;
  height: 140px;
  width: 300px;
  background-color: #eee;
  z-index:99;
}

.inner{
  padding: 100px;
}


.talk-bubble {
    position: absolute;
  width: 200px;
  height: auto;
  background-color: #eee;
}

.rcorners {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}

#download-button {
  font-size:30px;
  margin: 30px;
}

#download-button2 {
  font-size:30px;
  margin: 30px;
}

.line{
  color: #73AD21;
}

.text-column{
  max-width: 600px;

}

.video {
  margin-left: 100px;
  margin-top: 40px;
}

</style>